.lists-container {
    display: flex;
    justify-content: space-evenly;
}

.list {
    background-color: rgb(5, 49, 52);
    height: 70vh;
    width: 35%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.list-header {
    color: aliceblue;
    font-size: larger;
    height: 9vh;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.movie-list {
    background-color: white;
    width: 99%;
    margin: auto;
    margin-top: 4vh;
    padding-top: 30px;
    max-height: 80%;
    overflow-y: auto;
}

.list-style {
    list-style: none;
}

.list-style a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.list-style li {
    margin-bottom: 15px;
}

.list-img {
    max-height: 8vh;
    /* height: 40px;
    width: 40px;
    /*background-repeat: no-repeat;*/
    /* background-position: center;
    background-size: contain;
    border-radius: 50%; */
}

.list-button {
    background-color: rgb(3, 122, 130);
    border-color: rgb(3, 122, 130);
    max-height: 8vh;
    margin-right: 10px;
}


@media (min-width: 820px) and (max-width: 1024px)

/*tablets landscape*/
    {
    body {
        font-size: 15px;
    }
}


@media (min-width: 480px) and (max-width: 819px)
/*tablets*/

    {
    body {
        font-size: 14px;
    }

    .lists-container {
        display: block;
    }

    .list {
        width: 80%;
        margin: auto;
        margin-top: 10vh;
    }
}

@media (min-width: 200px) and (max-width: 480px)
/*celulares*/

    {
    body {
        font-size: 10px;
    }

    .lists-container {
        display: block;
    }

    .list {
        width: 80%;
        margin: auto;
        margin-top: 10vh;
    }
}