.navbar-container {
    background-color: rgb(5, 49, 52);
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    color: rgb(253, 253, 253) !important;
    margin-left: 20px;
}