body {
    background-color: white;
}

.container {
    background-color: blue;
    margin-top: 15vh;
    width: 70%;
    height: 90vh;
}

.card {
    background-color: bisque;
    display: grid;
    grid-template-columns: 30%, 70%;
}

.poster {
    background-color: brown;
    height: 75vh;
    grid-column: 1 / 2;
}

.poster img {
    max-width: 100%;
    height: 100%;
}

.info {
    background-color: blueviolet;
    height: 75vh;
    margin-left: 20px;
    padding-left: 50px;
    grid-column: 2 / 3;
}

.header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    color: blue;
}

.header span {
    font-size: small;
}

.header-button {
    background-color: transparent;
    border: none;
}

.header-button:hover {
    background-color: transparent;
    text-decoration: underline;
}

.content {
    background-color: yellow;
    height: 80%;
}